<h1 id="tableLabel">Routines</h1>

<p *ngIf="!workouts"><em>Loading...</em></p>

<div id="addButton" class="nav-item" [routerLinkActive]="['link-active']">
  <a class="btn btn-dark" role="button" [routerLink]="['/addexercise']">Add Exercise</a>
</div>

<div class="table">
  <div class="filter">
      <mat-form-field>
          <mat-label class="text-light" style="font-size: 20px;">Search</mat-label>
          <input matInput class="text-light" (keyup)="applyFilter($event)" style="font-size: 20px;" placeholder="Ex. Squat">
      </mat-form-field>
  </div>
  <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" width="100%" class="matTable">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px;">Date </th>
            <td mat-cell *matCellDef="let workout" style="font-size: 20px;">
                {{workout.date | date: 'longDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="workout">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px;"> Exercise </th>
              <td mat-cell *matCellDef="let workout" style="font-size: 20px;">
                  {{workout.workout}} </td>
          </ng-container>

          <ng-container matColumnDef="sets">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px;">Sets</th>
              <td mat-cell *matCellDef="let workout" style="font-size: 20px;">
                  {{workout.sets}} </td>
          </ng-container>

          <ng-container matColumnDef="reps">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px;" mat-sort-header>Reps</th>
              <td mat-cell *matCellDef="let workout" style="font-size: 20px;"> {{workout.reps}} </td>
          </ng-container>

          <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 20px;" mat-sort-header>Weight (lbs)</th>
              <td mat-cell *matCellDef="let workout" style="font-size: 20px;"> {{workout.weight}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 5, 20]" showFirstLastButtons class="page text-light"></mat-paginator>
  </div>
</div>